@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

/* Reset CSS */

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: "Roboto", sans-serif;
}

/* Variables */

:root {
	--yellow: #ffc20e;
	--blue: #0071ad;
	--white: #f3f5f0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
